OLLAMA_MODEL=qwen3.5-vision:latest
OLLAMA_BASE_URL=http://localhost:11435

OPENWA_API_URL=http://localhost:2785/api
OPENWA_API_KEY=owa_k1_a04242a34af961e93d0f2162fec207dd5aecc3cd809fd12580a2a6e191ceb88b
OPENWA_SESSION_ID=lang-graph

# Optional Observability
LANGSMITH_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=langgraph-whatsapp-agent
